* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra-add {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 28px;
}

.barra-buscar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 28px;
}

.barra-renomear {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 28px;
}

.barra-remover {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 28px;
}
